/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* color palette */
:root{
    --drop-primary:rgba(180, 208, 231, 1);
    --drop-dark:rgba(0, 0, 0, 1);
    --drop-light: rgba(245, 245, 245, 1);
    --drop-succes:rgba(0, 97, 255, 1);
    --drop-secondary: rgba(98, 18, 56, 1);
}

body{
    font-family: 'Open Sans', sans-serif;
}

.debug header{
    height: 50px;
    background-color: red;
}

.debug .jumbotron{
    height: 500px;
}

.debug section{
    color: white;
}

.debug footer{
    height: 500px;
}

.container-large{
    width: 95%;
    margin: auto;
    max-width: 1800px;
}

.container{
    width: 70%;
    margin: auto;
    max-width: 1400px;
}

.container-small{
    width: 50%;
    margin: auto;
    max-width: 1000px;
}

.top{
    border-bottom: 1px solid;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    padding: 0 1rem;
    font-size: 0.8rem;
}

/* #endregion Common */

/* #region Utilities */

 .d-flex{
    display: flex;
    justify-content: space-between;
 }

 .btn{
    border-style: none;
    background-color: var(--drop-succes);
    color: var(--drop-light);
    padding: 0.3rem 0.5rem;
 }

 .col-4{
    width: calc((100%/12)*4);
 }

 .card{
    border: 1px solid;
    margin-bottom: 2rem;
 }

 .purple{
    color: var(--drop-secondary);
 }

/* #endregion Utilities */

/* #region Header */

header{
    padding: 1rem 0;
}

/* #endregion Header */

/* #region main */

 .jumbotron{
    background-color: var(--drop-primary);
 }

 .row{
    display: flex;
    gap: 0.5rem;
 }

 .row-2{
    display: flex;
    flex-wrap: wrap;
 }

 .faq{
    background-color: var(--drop-primary);
 }

 .border-bottom{
    border-bottom: 0.5px solid rgb(255, 255, 255);
 }

/* #endregion main */

/* #region footer */

footer{
    background-color: var(--drop-dark);
    color: var(--drop-light);
}

/* #endregion footer */


   