/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* color palette */
:root{
    --drop-primary:rgba(180, 208, 231, 1);
    --drop-dark:rgba(0, 0, 0, 1);
    --drop-light: rgba(245, 245, 245, 1);
    --drop-succes:rgba(0, 97, 255, 1);
    --drop-secondary: rgba(98, 18, 56, 1);
}

body{
    font-family: 'Open Sans', sans-serif;
}

.debug header{
    height: 50px;
    background-color: red;
}

.debug .jumbotron{
    height: 500px;
}

.debug section{
    color: white;
}

.debug footer{
    height: 500px;
}

.container-large{
    width: 95%;
    margin: auto;
    max-width: 1800px;
}

.container{
    width: 70%;
    margin: auto;
    max-width: 1400px;
}

.container-small{
    width: 60%;
    margin: auto;
    max-width: 1200px;
}

.top{
    border-bottom: 0.5px solid lightgray;
    padding: 0.8rem 0;
}

ul{
    list-style: none;
}

p{
    padding: 1rem 0;
}

h2{
    padding: 2rem 0;
    font-size: 2rem;
}

h3{
    padding: 2rem 0;
}

strong{
    display: block;
    font-size: 0.8rem;
}

hr{
    margin-right: 75%;
}

/* #endregion Common */

/* #region Utilities */

 .d-flex{
    display: flex;
    justify-content: space-between;
 }

 .btn{
    border-style: none;
    background-color: var(--drop-succes);
    color: var(--drop-light);
    padding: 0.4rem 1rem;
 }

 .col-4{
    width: calc((100%/12)*4);
 }

 .card{
    border: 0.5px solid lightgray;
    margin-bottom: 2rem;
    
 }

.top{
    text-align: center;
}

 .purple{
    color: var(--drop-secondary);
 }

 .btn-large{
    width: 100%;
    padding: 0.5rem 1rem;
 }

 .padding1{
    padding: 1.5rem 0;
 }

 .padding-bottom{
    padding-bottom: 2rem;
 }

/* #endregion Utilities */

/* #region Header */

header{
    padding: 1rem 0;
}

li>a{
    text-decoration: none;
    color: black;
    padding: 0 1rem;
    font-size: 0.8rem;
}

/* #endregion Header */

/* #region main */

 /* #region jumbotron */

 .jumbotron{
    background-color: var(--drop-primary);
    padding-top: 2rem;
 }

.screen{
    width: 60%;
}

.screen>img{
    width: 100%;
    padding-top: 1rem;
    margin-bottom: -5rem;
}

.container>h1{
    font-size: 50px;
    padding-bottom: 1rem;
}

.text{
    width: 40%;
}

.text>i{
    font-size: 36px;
}

/* #endregion jumbotron */

 /* #region business */

.business{
    padding-top: 5rem;
}

.radio{
    padding-right: 2rem;
}

.card>div{
    padding: 0 1rem;
}

div>span{
    color: gray;
}

.card>p{
    padding: 1rem 0;
}

 .row{
    padding: 2rem 0;
    display: flex;
    gap: 0.5rem;
 }

 .check{
    color: var(--drop-succes);
    font-weight: bold;
 }

  /* #endregion business */

 .row-2{
    display: flex;
    flex-wrap: wrap;
 }

 .faq{
    background-color: var(--drop-primary);
 }

 .border-bottom{
    border-bottom: 0.5px solid rgb(255, 255, 255);
 }

/* #endregion main */

/* #region footer */

footer{
    background-color: var(--drop-dark);
    color: var(--drop-light);
}

/* #endregion footer */


   